@media screen and(min-width:767px) {
}
@media screen and(max-width:767px){
}
@media  screen and(max-width:479px) {
}
.contents{
    display:none;
}
.contens{
    float:none;
}
img{
    max-width:100%;
    height:auto;
}
.contens{
    max-width: 1000px;
    width: 100%
    margin-left：auto;
    margin-right:auto;
}


